<div class="w-full max-w-lg mx-auto bg-white/80 backdrop-blur-sm rounded-2xl shadow-lg p-6 my-6">
  <h2 class="text-2xl dancing-script-font text-center mb-4 text-[#c2b3ff]">
    Estamos juntos há:
  </h2>
  <div class="grid grid-cols-3 md:grid-cols-6 gap-2 text-center">
    @if(timeElapsed()){
    <div class="bg-[#FFDEE2]/50 rounded-lg p-2">
      <div class="text-2xl font-bold">{{ timeElapsed().years }}</div>
      <div class="text-xs">anos</div>
    </div>
    <div class="bg-[#e5deff80]/70 rounded-lg p-2">
      <div class="text-2xl font-bold">{{ timeElapsed().months }}</div>
      <div class="text-xs">meses</div>
    </div>
    <div class="bg-[#FFDEE2]/50 rounded-lg p-2">
      <div class="text-2xl font-bold">{{ timeElapsed().days }}</div>
      <div class="text-xs">dias</div>
    </div>
    <div class="bg-[#e5deff80]/70 rounded-lg p-2">
      <div class="text-2xl font-bold">{{ timeElapsed().hours }}</div>
      <div class="text-xs">horas</div>
    </div>
    <div class="bg-[#FFDEE2]/50 rounded-lg p-2">
      <div class="text-2xl font-bold">{{ timeElapsed().minutes }}</div>
      <div class="text-xs">minutos</div>
    </div>
    <div class="bg-[#e5deff80]/70 rounded-lg p-2">
      <div class="text-2xl font-bold">{{ timeElapsed().seconds }}</div>
      <div class="text-xs">segundos</div>
    </div>
    } @else {
    <div>Carregando...</div>
    }
  </div>
</div>