<div class="w-full max-w-xl mx-auto my-6 relative">
  <div class="relative h-80 md:h-96 overflow-visible">
    @for(photo of photos; track photo; let i = $index) {
    <div
      [ngStyle]="getPhotoStyles(i)"
      class="photo-frame h-full rounded-xl overflow-hidden">
      <div>
        <img [src]="photo.url" [alt]="photo.alt" />
      </div>
    </div>
    }
  </div>

  <button
    (click)="prevPhoto()"
    class="absolute left-2 top-1/2 -translate-y-1/2 bg-white/80 p-2 rounded-full shadow-md z-20 hover:bg-[#e5deff80]/80 transition-colors"
    aria-label="Foto anterior">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 text-gray-600"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2">
      <polyline points="15 18 9 12 15 6"></polyline>
    </svg>
  </button>
  <button
    (click)="nextPhoto()"
    class="absolute right-2 top-1/2 -translate-y-1/2 bg-white/80 p-2 rounded-full shadow-md z-20 hover:bg-[#e5deff80]/80 transition-colors"
    aria-label="Próxima foto">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 text-gray-600"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2">
      <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
  </button>

  <div class="flex justify-center mt-4 space-x-2">
    @for (_ of photos; track _; let i = $index) {
    <button
      (click)="currentIndex.set(i)"
      [ngClass]="{
        'h-2 w-4 bg-[#e5deff80]': i === currentIndex(),
        'h-2 w-2 bg-[#e5deff80]/50': i !== currentIndex()
      }"
      class="rounded-full transition-all"
      [attr.aria-label]="'Ir para foto ' + (i + 1)"></button>
    }
  </div>
</div>
